doctype html(lang='en')

mixin card_img(suit, card)
   - var lsuiy = suit.toLowerCase();
   - var letter = suit[0];
   img(src='images/Cards/#{suit}/#{card}#{letter}.svg')&attributes(attributes)

//- Creates a player circle, if the player number is 1 it will make it blue
mixin player_circle(playerNo)
   .player.circle(
      id=            'p' + playerNo
      class=         (playerNo === 1 ? 'blue' : 'black') + '-gradient'
      data-toggle=   'modal'
      data-target=   '#cardPicker'
      data-playerid= playerNo
      data-numcards= '2'
   )
      .plus-content: p +

head
   title ProPokerTools2 :3

   //- remote scripts
   script(src='//code.jquery.com/jquery-2.1.3.min.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js')

   link(rel='stylesheet', type='text/css', href='css/vendor/normalize.css')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

   link(rel='stylesheet', type='text/css', href='css/index.css')
   link(rel='stylesheet', type='text/css', href='css/vendor/liteAccordion/liteaccordion.css')

body
   #content
      h1 ProPokerTools2
      #container
         .row
            #table.col-md-9
               //img#pokerTable(src='images/table.svg', alt='Poker Table')
               - for (var i = 1; i <= 6; ++i)
                  +player_circle(i)

               ul#table-cards
                  li#flop
                     ul
                        - for (var i = 0; i < 3; ++i)
                           li.table-card.blue-gradient(id="f#{i}") +
                  li#turn
                     #t1.black-gradient.table-card +
                  li#river
                     #r1.black-gradient.table-card +

            #sidebar.col-md-3
               h2.blue-gradient Output

         #footer.row.col-md-12
            h5 Footer
            button#reset.btn.btn-lg.btn-danger Reset
            button#simulate.btn.btn-lg.btn-success Simulate

      include ./modal.jade

   //- local scripts:
   script(src='js/server.js')
   script(src='js/index.js')
   script(src='js/liteAccordion/liteaccordion.jquery.min.js')
