
// Card Picker Modal
#cardPicker.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Card Picker', aria-hidden='true')
  .modal-dialog
     .modal-content
        .modal-header
           button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
           h4#selection-title.modal-title
              | Card Selection - (
              span#currCard 1
              | /
              span#numCards 1
              | )

        .modal-body
           #liteAccordion
              ol
                 li
                    h2: span Main Card Selection...

                    .simple-selection
                       .row.col-md-12
                          input#search(type="text" tabIndex='40' placeholder="Search")
                       .row
                          .col-md-2.suit-select.card-display
                             - var i = 50
                             each suit in suits
                                img(src='images/Suits/#{suit.long}.svg' tabIndex=i++ id='suit-#{suit.long.toLowerCase()}' class='#{suit.long.toLowerCase()}')

                          .col-md-9
                             //- Create hidden entities for all of the cards
                             .card-select.card-display
                                - var i = 100
                                each suit in suits
                                    each card in cards
                                       +card_img(suit, card)(id='card-#{card.short}#{suit.short}' tabIndex=i++ data-card-value='#{card.long}' data-card-suit='#{suit.long}')
                 li
                    h2: span Advanced...
                    #advanced-content
                       p Content Here please. :D
           .row.col-md-12
              ul#picked-cards
                 li.pick-card.enabled
                    span.delete-card.label.label-danger.glyphicon.glyphicon-remove-circle
                    .plus-content: span.glyphicon.glyphicon-plus
                 li.pick-card.button
                    span.delete-card.label.label-danger.glyphicon.glyphicon-remove-circle
                    .plus-content: span.glyphicon.glyphicon-plus
                 li.pick-card.button
                    span.delete-card.label.label-danger.glyphicon.glyphicon-remove-circle
                    .plus-content: span.glyphicon.glyphicon-plus


        .modal-footer
           button.btn.btn-default(type='button', data-dismiss='modal' tabIndex='200' ) Close
           button#saveCards.btn.btn-primary(type='button'  tabIndex='200') Save changes